body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: white;
    padding: 5px 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 5px 5px;
    transition: background-color 0.3s;
  }
  
  .navbar a:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      text-align: center;
      background-color: gray;
    }
  
    .navbar a {
      width: 100%;
      box-sizing: border-box;
    }
  }
  